<html lang="en">
<head>
    {% include "_head.j2" %}
    <title>{{ username }}'s Dashboard</title>
</head>
<body>
    {% include "_body.j2" %}
    <h1>
        {{ username }}'s Dashboard
    </h1>
    <table>
        <thead>
            <tr>
                <th>Timestamp</th>
                <th>Value</th>
            </tr>
        </thead>
        <tbody>
        <tr>
            <td>{{ datetime }}</td>
            <td>{{ data }}</td>
        </tr>
        </tbody>
    </table>
</body>
</html>